.svg-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comarca {
  transition: all 0.3s ease-in-out;
  fill: #00ff08;
  cursor: pointer;
}

.comarca:hover {
  fill: #388e3c;
  filter: brightness(1.1);
}

svg {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4)
    ),
    linear-gradient(
      70deg,
      rgba(255, 251, 0, 1) 11.11%,
      rgba(255, 0, 0, 1) 11.11%,
      rgba(255, 0, 0, 1) 22.22%,
      rgba(255, 251, 0, 1) 22.22%,
      rgba(255, 251, 0, 1) 33.33%,
      rgba(255, 0, 0, 1) 33.33%,
      rgba(255, 0, 0, 1) 44.44%,
      rgba(255, 251, 0, 1) 44.44%,
      rgba(255, 251, 0, 1) 55.55%,
      rgba(255, 0, 0, 1) 55.55%,
      rgba(255, 0, 0, 1) 66.66%,
      rgba(255, 251, 0, 1) 66.66%,
      rgba(255, 251, 0, 1) 77.77%,
      rgba(255, 0, 0, 1) 77.77%,
      rgba(255, 0, 0, 1) 88.88%,
      rgba(255, 251, 0, 1) 88.88%
    );
}

.acierto {
  fill: #4caf50;
  filter: drop-shadow(0 0 8px rgba(76, 175, 80, 0.7));
}

.fallo {
  fill: #f44336;
  filter: drop-shadow(0 0 8px rgba(244, 67, 54, 0.7));
}

.rio {
  transition: all 0.5s ease-in-out;
}

.rio:hover {
  cursor: pointer;
  stroke: orange;
  scale: 1.001;
}

.rio.fallo {
  fill: none;
  stroke: red;
}

.rio.acierto {
  fill: none;
  stroke: green;
}
